<section class="parallax_window_in short" data-parallax="scroll"
	data-image-src="img/pexels-tima-miroshnichenko-5439390.jpg" data-natural-width="1400" data-natural-height="400">
	<div id="sub_content_in">
		<div class="container">
			<h1>Candidatures</h1>
			<p>Postez vos candidatures en toute simplicité</p>
		</div>
	</div>
</section><!-- /section -->

<style>

</style>
<main>b
	<div class="container margin_60_35">
		<div class="row">
			<div class="col-md-12">
				<div class="shop-section">

					<div class="row">
						{{#each candidates}}
						<div class="shop-item col-lg-4 col-md-6 col-sm-6">
							<div class="inner-box">
								<div class="product_description">
									<h3><a href="#">{{nom}}</a></h3>
									<h5><a>{{email}}</a></h5>
									<h3><a>{{telephone}}</a></h3>
									<div class="price">
										<span>{{desciption}}</span>
									</div>
								</div>
								<h6>{{generateTime date 'MMMM Do YYYY'}}</h6>
							</div>
						</div>
						{{/each}}
					</div><!-- End row -->
					<hr>
				</div>
			</div><!-- End col -->
		</div>
		<!--/row-->
	</div>
	<!--/container-->
</main>
<!--/main-->