<section class="parallax_window_in short" data-parallax="scroll"
	data-image-src="https://www.cslbehring.com/-/media/shared/vita/new-job-candidate-on-video-call.jpg"
	data-natural-width="1400">
	<div id="sub_content_in">
		<div class="container">
			<h1>Candidatures</h1>
			<p>Postez vos candidatures en toute simplicité <a href="/candidatures-create" class="btn btn-primary">
					Postez
					votre
					candidature</a></p>
		</div>
	</div>
</section><!-- /section -->

<main>
	<div class="container-fluid">
		<div style="margin-top: 20px;" class="row">
			<div class="col-xs-12 col-md-8 ">
				<div id="searchDisplayElement">
					{{#if candidates.length}}
					{{>home/cards/candidature}}
					{{else}}
					<div class="alert alert-danger" role="alert">
						Oups! Aucune Candature disponible {{#if search_term}}
						pour

						{{#if search_term.category}}
						la category "{{search_term.category}}" ,
						{{else}}
						{{search_term}}
						{{/if}}
						{{#if search_term.location}}
						à/au {{search_term.location}}
						{{/if}},
						{{#if search_term.experience}}
						avec
						{{search_term.experience}} d'experience
						{{/if}}
					</div>
					{{/if}}
					{{/if}}
				</div>
				<div class="clearfix visible-xs-block"></div>
			</div>
			{{>home/filters/candidatures}}
		</div>
	</div>
</main>
<!--/main-->