<section class="parallax_window_in short" data-parallax="scroll"
	data-image-src="https://infosconcourseducation.com/wp-content/uploads/2020/12/66d6f075031e4db7c4b99341c2d4e4dd.jpg"
	data-natural-width="1400">
	<div id="sub_content_in">
		<div class="container">
			<h1>Offres d'emploi</h1>
			<p>Les entreprises peuvent poster ici leurs offres d'emploi <a class="btn btn-primary"
					href="/emploi/offre/create">Créer une offre d'emploi</a></p>

		</div>
	</div>
</section><!-- End section -->

<main>
	<div class="container margin_60_35">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{#if offers.length}}
				{{>home/cards/emploi}}
				{{else}}
				<div class=" col-xs-12 alert alert-danger" role="alert">
					Oups! Aucune offre disponible {{#if search_term}}
					pour

					{{#if search_term.category}}
					la category "{{search_term.category}}" ,
					{{else}}
					{{search_term}}
					{{/if}}
					{{#if search_term.location}}
					à/au {{search_term.location}}
					{{/if}},
					{{#if search_term.experience}}
					avec
					{{search_term.experience}} d'experience
					{{/if}}
				</div>
				{{/if}}
				{{/if}}
			</div>
			<div class=" hidden-xs col-xs-12 col-md-4">
				{{>home/filters/offre}}
			</div>
		</div>
	</div>
</main>