	<section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/pexels-sevenstorm-juhaszimrus-443383.jpg" data-natural-width="1400" data-natural-height="400">
		<div id="sub_content_in">
			<div class="container">
				<h1>Offres de terrains</h1>
				<p>Les entreprises ou les particuliers peuvent poster des offres de terrains ici</p>
			</div>
		</div>
	</section><!-- End section -->
    
    <main>
		<div class="py-20  container-fluid ">
			<div class="row  mx-auto">
					{{#each immobilier}}
				<div class=" w-100 mt-2 d-flex justify-content-center mb-2 col-md-6">
						<article class="blog">
							<div class="row no-gutters">
								<div class="col-md-4">
									<figure>
										<a target="_blanc" href="/uploads/{{image}}"><img height="100%" width="100%" src="/uploads/{{image}}" alt="">
											{{!-- <div class="preview"><span>Lire plus</span></div> --}}
										</a>
									</figure>
								</div>
								<div class="col-md-5 pl-3">
									<div class="post_info">
										<small>{{generateTime date 'MMMM Do YYYY'}}</small>
										<h3><a href="#">{{location}}</a></h3>
										<p>{{description}}</p>
										<ul>
											<li>
												{{vendor_name}}
											</li>
										</ul>
									</div>
								</div>
							</div>
						</article>
					</div>
					{{/each}}
					<br>	<!-- /article -->
					<!-- /article -->
						<br>
					<div class="col-md-8">
					<button type="submit" class="btn_1 col-sm-5" data-toggle="modal" data-target="#exampleModal">Poster une offre</button>
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog-centered modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h3 class="modal-title" id="exampleModalLabel">Offre de terrain</h3>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<div>
										<div id="message-contact"></div>
										<form method="POST" action="/groundOffers" enctype="multipart/form-data">
											<div class="row">
												<div class="col-md-6 col-sm-6">
													<div class="form-group">
														<label>Nom du vendeur:</label>
														<input type="text" class=" form-control styled" id="name_contact" name="name_contact" placeholder="Ets Entreprise" required>
													</div>
												</div>
												<div class="col-md-6 col-sm-6">
													<div class="form-group">
														<label>Tel:</label>
														<input type="tel" id="tel_contact" name="tel_contact" class="form-control styled" placeholder="xxxxxxxxx"  required pattern="6[98257][0-9]{7}">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6 col-sm-6">
													<div class="form-group">
														<label>Email:</label>
														<input type="email" class="form-control styled" id="email_contact" name="email_contact" placeholder="adresse@email.com" required>
													</div>
												</div>
												<div class="col-md-6 col-sm-6">
													<div class="form-group">
														<label>ville:</label>
														<input type="text" id="ville_contact" name="ville_contact" class="form-control styled" placeholder="Yaounde" required>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label for="logo">Image du terrain</label>
														<input type="file" id="file_contact" name="file_contact" class="form-control styled" accept=".png, .jpeg, .jpg" required>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Objet:</label>
														<input type="text" id="object_contact" name="object_contact" class="form-control styled" required>
													</div>
												</div>
											</div> 
											<div class="row">
												<div class="col-md-12">
													<div class="form-group">
														<label>Contenu de la vente:</label>
														<textarea rows="5" id="message_contact" name="message_contact" class="form-control styled" style="height:100px;" placeholder="Contenu" required></textarea>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-6">
													<p><button type="submit" class="btn btn-primary" id="submit_ground">Envoyer</button></p>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						  </div>
						</div>
					</div>
					<!-- /pagination -->
				</div>
				<!-- /col -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
    </main><!--/main-->
    
