{{#each offers}}
{{#if isPublic}}
<div class="row"
    style="border: 0.5px solid rgba(13, 255, 0, 0.481);  background-color:white; border-radius:5px; padding:5px">
    <div style="border-right:0.5px solid rgba(0, 102, 255, 0.481) ;" class="col-sm-7 col-md-7">
        <h4> <strong class="list-group-item-heading">{{entreprise}} {{#if experience}} avec {{experience}} requis
                {{/if}}</strong>
            recrute au poste de <a href="/"><i> {{poste}}</i></a> jusqau <strong>{{generateTime date_expiration
                'MMMM Do
                YYYY'}}</strong></h4>

        <div style="padding-left: 10px;">
            <h4>Description</h4>
            <p>
                {{ shortenText description 150}}... <a href="/emploi/details/{{_id}}"> Lire la suite </a>
            </p>
            <small>
                Publier le {{ generateTime date
                'MMMM Do
                YYYY'}} par <a href="http://{{site_web}}">{{entreprise}}</a>
            </small>
        </div>
    </div>
    <div class="hidden-xs col-sm-5 col-md-5">
        <ul>
            <li> Type : <a href="/emploi/{{type}}"><strong>{{type}}</strong> </a></li>
            <li>Conatct : {{ phone_number}} </li>
            <li>Category : {{ category}} </li>
            <li>Email : {{ email}} </li>
            <li>Lieu :{{location}}</li>
            <li>Web : {{ site_web}} </li>

        </ul>
    </div>
</div>
{{/if}}
{{/each}}